<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @cocktail.user_id %>
</p>

<p>
  <strong>Bar:</strong>
  <%= @cocktail.bar_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @cocktail.name %>
</p>

<p>
  <strong>Recipe:</strong>
  <%= @cocktail.recipe %>
</p>

<%= link_to 'Edit', edit_cocktail_path(@cocktail) %> |
<%= link_to 'Back', cocktails_path %>
