<p id="notice"><%= notice %></p>

<div class="row mb-4">
  <div class="col-md-6 offset-md-3">
    <h2><%= @bar.bar_name %></h2>
  </div>
  <div class="col-md-6 offset-md-3">
    <h4><%= @bar.owner.username %>'s bar</h4>
  </div>
  <div class="col-md-6 offset-md-3">
      <%= @bar.about %>
  </div>
</div>

<div>
  <%= render "bars/cocktails_tab", bar: @bar, cocktails: @bar.own_cocktails %>
</div>