<li id="<%= dom_id(comment) %>" class="list-group-item">
  <div class="d-flex align-items-center justify-content-between">
    <h5 class="mt-0">
      <%= link_to comment.user.username, user_path(comment.user.username), class: "text-dark" %>
    </h5>
    <div>
      <%= comment.body %>
    </div>
    <div>
      <% if current_user == comment.user %>
        <%= link_to edit_cocktail_comment_path(comment), class: "btn btn-link btn-sm text-muted" do %>
          <i class="fas fa-edit fa-fw"></i>
        <% end %>
        <%= link_to comment, method: :delete, class: "btn btn-link btn-sm text-muted", remote: true do %>
          <i class="fas fa-trash fa-fw"></i>
        <% end %>
      <% end %>
    </div>
  </div>
</li>