<li id="<%= dom_id(cocktail_comment.cocktail) %>_cocktail_comment_form" class="list-group-item">
  <%= form_with(model: cocktail_comment, remote: false) do |form| %>
    <%= form.hidden_field :cocktail_id %>
    <%= form.hidden_field :user_id, value: current_user.id %>
    
    <div class="form-group">
      <%= form.label :body, class: "sr-only" %>
      <%= form.text_area :body, class: "form-control" %>
    </div>

    <div class="actions">
      <%= form.submit class: "btn btn-outline-secondary btn-block" %>
    </div>
  <% end %>
</li>