<li class="list-group-item">
  <%= form_with(model: @cocktail_comments) do |form| %>
    <%= form.hidden_field :cocktail_id %>

    <div class="form-group">
      <%= form.label :body, class: "sr-only" %>
      <%= form.text_area :body, class: "form-control" %>
    </div>

    <div class="actions">
      <%= form.submit class: "btn btn-outline-secondary btn-block" %>
    </div>
  <% end %>
</li>