<%= form_with(model: cocktail_comment) do |form| %>
  <% if cocktail_comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cocktail_comment.errors.count, "error") %> prohibited this cocktail_comment from being saved:</h2>

      <ul>
        <% cocktail_comment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :cocktail_id %>
    <%= form.text_field :cocktail_id %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_field :body %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
